.otherProjects {
  padding: 0 0 100px;
}

.projectCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.projectCard {
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: center;

  max-width: 50%;
  border-radius: 10px;
  padding: 30px 40px;
  border: 1px solid var(--blackColor500);

  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    transition: transform 0.5s;
  }

  p {
    margin: 0;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  text-align: center;
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  color: var(--whiteColor100);
  padding-bottom: 20px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  color: var(--whiteColor100);
}

.date {
  font-size: var(--text-xs);
  color: var(--whiteColor500);
}

.type {
  font-size: var(--text-xs);
  color: var(--whiteColor600);
  margin-top: -5px !important;
}

.description {
  font-size: var(--text-sm);
  line-height: 1.5;
  color: var(--whiteColor500);
}

.img {
  img {
    width: 100%;
    border-radius: 10px;
  }
}
