@import '../../styles/mixin';
@import '../../styles/typography';
@import '../../styles/color';

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  height: 50%;
  width: 100%;
  max-width: none;

  @include xl {
    justify-content: center;
    max-width: 700px;
    height: 100%;
    width: 50%;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: var(--text-sm);
  padding: 0 20px;

  animation: fadeIn 1s ease-in-out;

  span {
    font-size: var(--text-lg);
    font-weight: var(--font-bold);
    padding: 0 8px;
    position: relative;
  }

  svg {
    position: absolute;
    width: 80px;
    margin-top: 25px;
    margin-left: -65px;
  }

  @include xl {
    font-size: var(--text-lg);
    line-height: 30px;

    span {
      font-size: var(--text-xxl);
    }

    svg {
      width: 160px;
      margin-top: 35px;
      margin-left: -125px;
    }
  }

  @include sm {
    font-size: var(--text-md);
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;

  animation: fadeIn 1s ease-in-out;

  svg {
    width: 25px;
    height: 25px;
  }

  a {
    opacity: 0.5;
    cursor: none;

    &:hover {
      transition: all 0.4s;
      transform: scale(1.1);
      opacity: 1;
    }
  }

  @include xl {
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.profileArea {
  position: relative;
  animation: fadeIn 1s ease-in-out;
}

.profile {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  object-fit: cover;
  animation: morph 8s ease-in-out infinite;
  border: 3px solid var(--blackColor100);
  cursor: none;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}

.imageContainer {
  display: flex;
  flex-direction: column;
  animation: fadeIn 1s ease-in-out;
}

.arrows {
  padding: 10px 30px;
  position: relative;
  animation: upAndDown 3s ease-in-out infinite;

  p {
    position: absolute;
    left: 30px;
    top: 105px;
    font-size: var(--text-lg);
    transform: rotate(-70deg);
    font-family: 'Annie Use Your Telescope', cursive;
  }

  .arrow {
    left: 85px;
    top: 145px;
    position: absolute;
    transform: rotate(250deg);
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes upAndDown {
  0% {
    transform: translateX(0px) translateY(0px) rotate(60deg);
  }
  50% {
    transform: translateX(-5px) translateY(-5px) rotate(60deg);
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(60deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
