@import '../../styles/mixin';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  min-width: 100vw;
  height: auto;
  width: 100%;
  margin: 0;

  h1 {
    padding-top: 50px;
    font-family: var(--font-roboto);
  }

  @include xl {
    h1 {
      padding-top: 100px;
    }
  }
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;

  h1 {
    padding-top: 50px;
    font-family: var(--font-roboto);
  }

  @include xl {
    flex-direction: row;

    h1 {
      padding-top: 100px;
    }
  }
}

.aboutContent {
  max-width: none;
  height: 100vh;
  width: 100%;
  @include xl {
    width: 50%;
    max-width: 700px;
    position: relative;
  }
}
