@import '../../styles/mixin';

.about {
  flex-direction: column;

  @include xl {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.aboutContent {
  max-width: none;
  height: 50%;
  width: 100%;
  @include xl {
    height: 100%;
    width: 50%;
    max-width: 700px;
    position: relative;
  }
}

.fullWidth {
  height: 100%;
  width: 100%;
  max-width: 800px;
  position: relative;
}
