@import '../../styles/mixin';

.projectCarousel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 20px;
  font-family: var(--font-roboto);
  // border: 1px solid red;

  &[data-animation='true'] {
    animation: fadeInPrev 1s;

    &[data-direction='prev'] {
      animation: fadeInNext 1s;
    }
  }

  &[data-darkmode='true'] {
    .type {
      color: var(--whiteColor600);
    }
    .name {
      color: var(--whiteColor100);
    }
    .description {
      color: var(--whiteColor600);
    }
    .skill {
      background-color: var(--blackColor400);
      color: var(--whiteColor300);
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }

  @include xl {
    flex-direction: row;
    justify-content: center;
    gap: 0px;
  }
}

.carousel {
  max-height: 400px;
  max-width: 700px;
  background-color: transparent;

  figure {
    border-radius: 8px;
    animation: fadeIn 0.5s inherit;

    img {
      object-fit: contain;
    }
  }
}

@keyframes fadeInNext {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInPrev {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0;
    transform: translateX(150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
