.projectCarousel {
  border: 1px solid red;
  max-width: 630px;
}

.carousel {
  background-color: transparent;
  height: 400px;
  width: 630px;
  figure {
    height: 345px;
    width: 628px;
    border-radius: 8px;
    img {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      object-fit: cover;
    }
  }
}
