@import '../../styles/mixin';
@import 'loaders.css/src/animations/cube-transition.scss';
$primary-color: #000000;

.projectCarousel {
  display: flex;
  flex-direction: column;
  gap: 0 !important;
  width: 100%;
  font-family: var(--font-roboto);
  border: 1px solid red;
}

.projectContent {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
}

.sliderContent {
  border: 1px solid red;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
