@import '../../styles/mixin';
@import '../../styles/typography';
@import '../../styles/color';

.aboutOverlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  height: 50%;
  width: 100%;
  max-width: none;

  @include xl {
    justify-content: center;
    max-width: 700px;
    height: 100%;
    width: 50%;
  }
}
