.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  height: auto;
  width: 100%;
  margin: 0;
  h1 {
    margin-top: 40px;
    font-family: var(--font-roboto);
  }
}
