@import '../../styles/mixin';

.background {
  position: absolute;
  overflow: hidden;
  max-height: 100vh;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));

  img {
    min-width: 100vw;
    min-height: 100vh;
    object-fit: cover;
  }
}

.subProject {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  width: 100%;

  display: flex;
  justify-content: center;
  margin: 0;
  font-family: var(--font-roboto);

  cursor: auto !important;
}

.subProjectContainer {
  display: flex;
  flex-direction: column;

  z-index: 2;

  height: 100%;
  width: 100%;
  margin: 0;

  max-width: 1200px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 5px;
  width: min-content;
  text-decoration: none;
  margin: 150px 50px 0;
  transition: all 0.3s;
  color: var(--whiteColor500);

  p {
    white-space: nowrap;
  }
  &:hover {
    opacity: 0.7;
    svg {
      transform: translateX(-5px);
      transition: transform 0.3s;
    }
  }

  @include xxl {
    margin: 150px 0 0;
  }

  &[data-color='dark'] {
    color: var(--blackColor100);
  }
}

.image {
  margin: 80px auto;
  padding-bottom: 100px;
  max-width: 1200px;

  img {
    max-width: 1200px;
    width: 100%;
  }
}
