@import '../../styles/mixin';

.subProject {
  min-width: 100vw;
  max-width: 100vw;
  height: auto;
  width: 100%;
  margin: 0;
  font-family: var(--font-roboto);
}

.container {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 120px 40px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 5px;
  width: min-content;
  text-decoration: none;

  p {
    white-space: nowrap;
  }
  &:hover {
    opacity: 0.7;
    svg {
      transform: translateX(-5px);
      transition: transform 0.3s;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 70vh;
  gap: 16px;
}

.type {
  font-size: var(--text-xs);
  margin: 0;
}

.title {
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  h1 {
    margin: 0;
  }
}

.description {
  font-size: var(--text-sm);
  line-height: 1.625;
  max-width: 60%;
  margin: 0;
}

.skills {
  display: flex;
  gap: 10px;
  font-size: var(--text-xs);
  margin: 0;
}

.hr {
  width: 90%;
  height: 1px;

  background: linear-gradient(to right, var(--blackColor500), transparent 90%);
}

.buttons {
  display: flex;
  gap: 10px;
}
