@import '../../styles/mixin';

.canvas {
  width: auto;
  height: auto;

  animation: fadeIn 1s ease-in-out;

  @include xl {
    height: 100%;
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 0px, -100px);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
