@import '../../styles/mixin';
@import '../../styles/typography';
@import '../../styles/color';

.contactContent {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  max-width: none;
  gap: 30px;
  max-width: 700px;

  @include xl {
    width: auto;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 18px;
    max-width: 400px;
  }
}

.contactList {
  display: flex;
  gap: 10px;
  align-items: center;
  opacity: 0.6;

  a {
    color: var(--blackColor300);
    text-decoration: none;
    font-size: var(--text-xs);
    cursor: none;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    transition: all 0.3s;
    transform: scale(1.03);
    opacity: 1;
  }

  @include xl {
    gap: 15px;

    a {
      font-size: var(--text-sm);
    }
    svg {
      width: 23px;
      height: 23px;
    }
  }
}
