@import '../../styles/mixin';

.subProjectContent {
  height: 100%;
  padding: 0 50px;
  transition: all 0.3s;

  @include xxl {
    padding: 0;
  }

  .type,
  .navigation,
  .skills,
  .title,
  .description {
    color: var(--whiteColor500);
  }

  &[data-color='dark'] {
    .type,
    .navigation,
    .skills,
    .title,
    .description {
      color: var(--blackColor100);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: calc(100vh - 201px);
  gap: 16px;
}

.type {
  font-size: var(--text-xs);
  margin: 0;
}

.title {
  font-size: var(--text-xl);
  font-weight: var(--font-bold);

  h1 {
    margin: 0;
  }
}

.description {
  font-size: var(--text-sm);
  line-height: 1.625;
  margin: 0;

  transition: all 0.3s;
  max-width: 100%;

  @include xxl {
    max-width: 60%;
  }
}

.skills {
  display: flex;
  gap: 10px;
  font-size: var(--text-xs);
  margin: 10px 0 -10px;
}

.hr {
  width: 90%;
  height: 1px;
  background: linear-gradient(to right, var(--blackColor100), transparent 90%);

  &[data-color='light'] {
    .hr {
      background: linear-gradient(to right, var(--whiteColor500), transparent 90%);
    }
  }
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 15px;

  button {
    border: 1px solid var(--whiteColor500);
    height: 40px;
    width: 150px;
    border-radius: 4px;

    cursor: pointer;

    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: center;
    font-size: var(--text-sm);

    &:hover {
      transform: scale(1.04);
      transition: transform 0.5s;
    }

    svg {
      max-width: 18px;
      max-height: 18px;
    }
  }
}

.scrollMouse {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(30vh - 223px);
}
