:root {
  --whiteColor100: #ffffff;
  --whiteColor200: #f8f9fa;
  --whiteColor300: #e9ecef;
  --whiteColor400: #dee2e6;
  --whiteColor450: #d6dbe0;
  --whiteColor500: #ced4da;
  --whiteColor600: #adb5bd;

  --blackColor100: #000000;
  --blackColor150: #2b3035;
  --blackColor200: #212529;
  --blackColor300: #343a40;
  --blackColor400: #495057;
  --blackColor500: #6c757d;
}
