:root {
  /* FontSize */
  --text-xs: 12px;
  --text-sm: 16px;
  --text-md: 20px;
  --text-lg: 22px;
  --text-xl: 32px;
  --text-xxl: 40px;
  --text-xxxl: 60px;

  /* Font Weight */
  --font-extrathin: 100;
  --font-thin: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;

  /* Font Family */
  --font-annie: 'Annie Use Your Telescope', cursive;
  --font-notoSans: 'Noto Sans KR', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}
