@import '../../styles/mixin';
@import '../../styles//typography';

.miniAbout {
  position: absolute;
  top: 80%;
  left: -50px;
  padding: 20px;

  background-color: var(--whiteColor300);
  color: var(--blackColor300);
  opacity: 0.9;
  z-index: 10;
  min-width: 350px;
  width: 100%;
  font-family: var(--font-notoSans);
  font-size: var(--text-xs);

  animation: fadeInXl 1s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;

  ul {
    list-style: none;
    padding: 0;
  }

  &[data-darkMode='true'] {
    color: var(--whiteColor450);
    background-color: var(--blackColor200);
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  }

  @include xl {
    font-size: var(--text-sm);

    top: -50px;
    left: 120%;
    min-width: 450px;
    animation: fadeIn 1s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 0.9;
    transform: translateX(0);
  }
}

@keyframes fadeInXl {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}
