@import '../../styles/mixin';
@import '../../styles/typography';
@import '../../styles/color';

.contact {
  min-width: 100vw;
  max-width: 100vw;
  height: auto;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;

  @include xl {
    padding-top: 0;
  }
}

.contactContainer {
  max-width: 1400px;
  min-width: 100%;
  font-family: var(--font-roboto);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;

  @include xl {
    flex-direction: row;
  }
}

.contactContent {
  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;

    h1 {
      padding: 0;
      margin: 0;
      font-size: var(--text-xxxl);
      font-family: var(--font-roboto);
    }
    @include xl {
      width: auto;
    }
  }

  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;

  @include xl {
    height: 100%;
    width: 50%;
    max-width: 700px;
  }
}

.texts {
  font-size: var(--text-xs);
  color: var(--whiteColor500);
}

.darkTexts {
  color: var(--blackColor400);
}
