@import '../../styles/mixin';
@import '../../styles/typography';
@import '../../styles/color';

.content {
  position: relative;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.contactContainer {
  width: 100%;
  min-height: calc(100vh - 120px);
  max-width: 1400px;
  font-family: var(--font-roboto);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include xl {
    min-height: calc(100vh - 130px);
    flex-direction: row;
  }
}

.contactContent {
  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 20px;

    h1 {
      padding: 0;
      margin: 0;
      font-size: var(--text-xxxl);
      font-family: var(--font-roboto);
    }
    @include xl {
      width: auto;
      justify-content: center;
      align-items: flex-start;
    }
  }

  position: relative;
  height: 50%;
  width: 100%;
  max-width: none;
  display: flex;
  justify-content: center;

  @include xl {
    height: 100%;
    width: 50%;
    max-width: 700px;
  }
}

.texts {
  font-size: var(--text-xs);
  color: var(--whiteColor500);
  display: flex;
  flex-direction: row;
  gap: 7px;
  @include xl {
    display: block;
  }
}

.darkTexts {
  color: var(--blackColor400);
}
