@import '../../styles/mixin';
@import '../../styles/typography';
@import '../../styles/color';

.contact {
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  height: auto;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.contactContainer {
  max-width: 1400px;
  min-width: 100%;
  font-family: var(--font-roboto);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;

  @include xl {
    flex-direction: row;
    gap: 50px;
    padding: 20px;
  }
}

.contactContent {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    padding: 0;
    margin: 0;
    font-size: var(--text-xxxl);
    font-family: var(--font-roboto);
  }
  p {
    font-size: var(--text-xs);
    color: var(--blackColor400);
  }
}
