@import '../../styles/mixin';

.homeContainer {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;

  @include xl {
    flex-direction: row;
    // margin-bottom: -50px;
    // padding-top: 50px;
  }
}

.homeContent {
  position: absolute;
  right: 0;
  top: 100px;
  max-width: 150px;
  height: 80px;
  width: auto;
  transition: top 0.5s;
  animation: fadeInOut 1s ease-in-out;

  @include xl {
    transition: right 0.1s;
    position: relative;
    height: 100%;
    width: 50%;
    max-width: 700px;
    top: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
