@import '../../styles/mixin';

.homeContainer {
  position: relative;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  padding-bottom: 200px;
  padding-top: 100px;

  @include xl {
    flex-direction: row;
    padding-bottom: 0px;
    margin-bottom: -50px;
    padding-top: 50px;
  }
}

.homeContent {
  border: 1px solid red;
  // position: absolute;
  max-width: none;
  position: relative;
  height: 50%;
  width: 100%;
  @include xl {
    position: relative;
    height: 100%;
    width: 50%;
    max-width: 700px;
  }
}
