@import '../../styles/mixin';

.homeContainer {
  position: relative;
  min-width: 100vw;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include xl {
    flex-direction: row;
    margin-bottom: -50px;
    padding-top: 50px;
  }
}

.homeContent {
  position: absolute;
  right: 0;
  top: 100px;
  max-width: 150px;
  height: 80px;
  width: auto;
  @include xl {
    position: relative;
    height: 100%;
    width: 50%;
    max-width: 700px;
    top: 0;
  }
}
