@import '../../styles/mixin';

.projectStepper {
  width: 100%;
  height: 100%;
}

.stepperContent {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  animation: fadeIn 1s ease-in-out;

  &[data-darkmode='true'] {
    .type {
      color: var(--whiteColor600);
    }
    .name {
      color: var(--whiteColor100);
    }
    .description {
      color: var(--whiteColor600);
    }
    .skill {
      background-color: var(--blackColor400);
      color: var(--whiteColor300);
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
