@import '../../styles/mixin';
@import '../../styles/typography';

.contactForm {
  position: relative;
  height: 50%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  @include xl {
    height: 100%;
    width: 50%;
    max-width: 700px;
  }
}

.contactFormDark {
  input[type='submit'] {
    &:hover {
      background-color: var(--blackColor400) !important;
    }
  }
  label {
    color: var(--whiteColor500);
  }
  input,
  textarea {
    color: var(--whiteColor500);
  }
}

.form {
  max-width: 700px;
  padding: 50px 20px 0;

  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: var(--text-sm);
    font-family: var(--font-notoSans);
  }

  input,
  textarea {
    outline: none;
    border: none;
    height: 30px;
    background-color: transparent;
    border-bottom: 1.5px solid var(--blackColor500);
    font-family: var(--font-roboto);
  }

  textarea {
    min-height: 100px;
    resize: none;
    width: 100%;
    max-width: 700px;
  }

  input[type='submit'] {
    border: 1px solid var(--blackColor500);
    border-radius: 4px;
    height: 40px;
    cursor: none;

    &:hover {
      background-color: var(--whiteColor400);
    }
  }

  @include xl {
    max-width: 400px;
    padding: 30px 30px 0;

    textarea {
      max-width: 400px;
    }
  }
}
