@import '../../styles/color';
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');
@import '../../styles/mixin';

.navbar {
  width: 100%;
  height: 70px;
  z-index: 10;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: transparent;
  font-family: var(--font-roboto);

  a {
    opacity: 0.9;
    color: var(--blackColor100);
    font-weight: var(--font-normal);
    &:hover {
      transition: all 0.4s;
      transform: scale(1.1);
      opacity: 1;
    }
  }

  &[data-darkmode='true'] {
    a {
      opacity: 0.9;
      color: var(--whiteColor100);
      &:hover {
        opacity: 1;
      }
    }
  }

  &[data-scroll='true'] {
    background: var(--whiteColor300);
    opacity: 0.9;
    transition: all 0.4s;
    box-shadow: rgba(149, 157, 165, 0.05) 0px 8px 24px;
    a {
      opacity: 1;
      color: var(--blackColor100);
    }
    &[data-darkmode='true'] {
      background: var(--blackColor200);
      opacity: 0.9;
      a {
        opacity: 1;
        color: var(--whiteColor100);
      }
    }
  }
}

.navbarContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;

  padding: 0 10px;
  @include sm {
    padding: 0 40px;
    gap: 35px;
  }
}

.nav {
  text-decoration: none;
  padding: 5px;
  border-bottom: 3px solid transparent;
}
.selectedNav {
  transition: all 0.8s;
  border-bottom: 3px solid var(--blackColor100);
}
.selectedNavDark {
  transition: all 0.8s;
  border-bottom: 3px solid var(--whiteColor100);
}

.logo {
  font-size: var(--text-lg);
  padding-left: 10px;
  font-family: 'IM Fell DW Pica', serif;
  @include sm {
    padding-left: 40px;
  }
}
