@import '../../styles/mixin';
@import '../../styles/typography';
@import '../../styles/color';

.skillsContainer {
  position: relative;
}

.skillsContent {
  //   border: 1px solid red;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-roboto);
}

.skillsSubtitle {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  svg {
    animation: fadeIn 1s ease-in-out;
    animation-delay: 1s;

    position: absolute;
    height: 50px;
    width: 50px;
  }

  p {
    position: absolute;
    border-radius: 50%;
    height: 80px;
    width: 120px;
    animation: morph 8s ease-in-out infinite;
    border: 3px solid var(--blackColor100);

    font-size: var(--text-md);
    font-weight: var(--font-medium);

    cursor: none;
    transition: transform 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.firstSubtitle {
  justify-content: flex-end;
  margin-right: 14px;

  svg {
    margin-right: 0px;
    margin-top: 20px;
    transform: rotate(-120deg);
  }

  p {
    margin-top: 190px;
    margin-right: 20px;
  }
}

.secondSubtitle {
  justify-content: flex-start;
  margin-left: 18px;

  svg {
    margin-bottom: 50px;
    margin-left: -10px;
    transform: rotate(50deg);
  }

  p {
    margin-top: -200px;
    margin-left: 15px;
    width: 180px;
  }
}

// .skillsTitle {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   border-radius: 50%;
//   height: 100px;
//   width: 160px;
//   animation: morph 8s ease-in-out infinite;
//   border: 3px solid var(--blackColor100);

//   font-size: var(--text-lg);
//   font-family: var(--font-roboto);
//   font-weight: var(--font-bold);

//   cursor: none;
//   transition: transform 0.3s;

//   &:hover {
//     transform: scale(1.05);
//   }
// }

.skillsTitle {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  text-align: center;
  // border: 1px solid red;

  font-weight: var(--font-bold);

  position: relative;

  p {
    // border: 1px solid blue;
    position: absolute;
    margin-left: 12px;
  }

  //   padding: 0 20px;

  //   p {
  //     font-size: var(--text-xl);
  //     font-weight: var(--font-bold);
  //     // padding: 0 8px;
  //     position: relative;
  //   }

  //   svg {
  //     position: relative;
  //     width: 50px;
  //     // margin-top: 25px;
  //     // margin-left: -65px;
  //   }

  @include xl {
    p {
      font-size: var(--text-lg);
      font-weight: var(--font-bold);

      letter-spacing: 4px;

      margin-top: 75px;
      left: 0;
      margin-left: 10px;
      position: absolute;
    }

    svg {
      position: relative;
      width: 130px;

      path {
        stroke-width: 0.5;
      }
    }
  }

  //   @include sm {
  //     font-size: var(--text-md);
  //   }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
