.overlay {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.bio {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bio span {
  font-size: 45px;
  font-weight: bold;
  padding: 1px 5px;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.contacts svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.contacts a {
  opacity: 0.5;
}

.contacts a:hover {
  transition: all 0.4s;
  transform: scale(1.1);
  opacity: 1;
}

.profile {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  object-fit: cover;
  animation: morph 8s ease-in-out infinite;
  border: 3px solid black;
}

.imageContainer {
  display: flex;
  flex-direction: column;
}

.arrows {
  display: flex;
  flex-direction: row;
  padding: 10px 30px;
  position: relative;
}

.arrow1 {
  position: absolute;
  left: -40px;
  top: 50px;
  transform: rotate(20deg);
}

.arrow2 {
  left: -10px;
  top: 5px;
  position: absolute;
  transform: rotate(50deg);
}

@media only screen and (max-aspect-ratio: 8/7) {
  .overlay {
    height: 50%;
    width: 100%;
    justify-content: flex-start;
    max-width: none;
  }

  .bio {
    font-size: 20px;
  }

  .bio span {
    font-size: 30px;
  }

  .contacts svg {
    width: 25px;
    height: 25px;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
