@import '../../styles/mixin';
@import '../../styles//color';

.projectStepperHeader {
  font-family: var(--font-roboto);

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 30px;

    li {
      width: auto;
    }
  }

  @include xl {
    border: 2px dotted var(--blackColor500);
    border-radius: 8px;

    ul {
      flex-wrap: nowrap;
      flex-direction: column;

      gap: 30px;
      li {
        width: 100%;
        padding: 5px;
      }
    }
  }
}

@mixin active-stepper {
  svg {
    stroke-dashoffset: 0;
    opacity: 1;
    transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

.projectStepper {
  list-style-type: none;
  display: inline-block;
  position: relative;
  padding: 5px;
  width: 100px;
  text-align: center;

  svg {
    fill: none;
    stroke-width: 2;
    stroke: var(--blackColor100);
    position: absolute;
    stroke-miterlimit: 10;
    stroke-dasharray: 338;
    stroke-dashoffset: 338;
    width: 100% !important;
    height: 100%;
    left: 0;
    top: -2px;
    opacity: 0;
    transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  }
  &:hover {
    @include active-stepper;
  }

  @include md {
    padding: 5px 15px;
  }
}

.activeProjectStepper {
  @include active-stepper;
}

.arrows {
  display: none;

  @include xl {
    display: flex;
    padding: 10px 30px;
    position: absolute;
    animation: upAndDown 3s ease-in-out infinite;
    p {
      position: absolute;
      left: -290px;
      top: 405px;
      font-size: var(--text-lg);
      transform: rotate(-80deg);
      font-family: 'Annie Use Your Telescope', cursive;
    }

    .arrow {
      left: -230px;
      top: 430px;
      position: absolute;
      transform: rotate(230deg);
    }
  }
}

@keyframes upAndDown {
  0% {
    transform: translateX(0px) translateY(0px) rotate(60deg);
  }
  50% {
    transform: translateX(-5px) translateY(-5px) rotate(60deg);
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(60deg);
  }
}
