@import '../../styles/mixin';

.container {
  position: relative;
}

.tooltip {
  position: absolute;
  top: -130%;
  left: -35%;
  padding: 0 10px;

  background-color: var(--whiteColor300);
  color: var(--blackColor300);
  opacity: 0.95;
  z-index: 10;
  width: 100%;
  height: auto;
  min-height: 70px;
  min-width: 250px;

  animation: fadeInXl 1s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;

  &[data-darkMode='true'] {
    color: var(--whiteColor450);
    background-color: var(--blackColor200);
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  }

  @include xl {
    left: 0;
    top: 80px;
    width: auto;
    animation: fadeIn 1s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 0.9;
    transform: translateX(0);
  }
}

@keyframes fadeInXl {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 0.9;
    transform: translateY(0);
  }
}
