.close,
.open {
  position: absolute;
  display: inline-block;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotate3d(1, 0, 0, 55deg)
    rotate3d(0, 0, 1, 45deg);
}

.close {
  margin-top: 105px;
  margin-left: -10px;
}

.open {
  margin-left: -170px;
  margin-top: 13px;
}

.open svg {
  height: 65px;
  width: 65px;
}

.close svg {
  height: 45px;
  width: 45px;
}
