@import './styles/mixin';

.app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  cursor: none;
}

.appContent {
  // max-height: calc(100vh - 70px);
  padding-top: 70px;

  @include xl {
    padding-top: 80px;
    // max-height: calc(100vh - 80px);
  }
}

.cursorApp {
  cursor: auto;
}
