@import './styles/mixin';

.app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  cursor: none;
}

.appContent {
  padding-top: 70px;

  @include xl {
    padding-top: 80px;
  }
}

.appContentWithoutPadding {
  padding: 0;
}

.cursorApp {
  cursor: auto;
}
