@import './styles/mixin';

.app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  cursor: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appContent {
  padding-top: 70px;

  @include xl {
    padding-top: 80px;
  }
}

.cursorApp {
  cursor: auto;
}
