@import '../../styles/mixin';
@import '../../styles/typography';

.ProjectInfo {
  font-family: var(--font-roboto);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;
  padding-right: 30px;

  .name {
    width: auto;
    font-size: var(--text-xxxl);
    font-weight: var(--font-bold);
    margin: 0;
    color: var(--whiteColor100);
  }
  .description {
    margin-bottom: 8px;
    color: var(--whiteColor400);
    font-size: var(--text-sm);
    font-weight: var(--font-semibold);
    line-height: 24px;
  }

  .icon {
    font-size: 100px;
    margin: 0;
  }

  @include sm {
    .name {
      font-size: var(--text-4xl);
    }
  }
}

.skills {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
  margin: 0;
  align-items: center;
  .skill {
    font-size: var(--text-xs);
    font-weight: var(--font-semibold);
    color: var(--whiteColor600);
    opacity: 0.8;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}

.projectInfoLight {
  .name {
    color: var(--blackColor100);
  }
  .description {
    color: var(--blackColor300);
  }
  .skill {
    color: var(--blackColor500);
  }
}
