.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.accordionHeader {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.accordionTitle {
}

.expandIcon {
  border: none;
  background-color: transparent;
  svg {
    transform: rotate(0);
    transition: transform 0.3s;
  }
}

.expandIconClicked {
  svg {
    transform: rotate(180deg);
    transition: transform 0.3s;
  }
}

.accordionDetails {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 0s ease-in-out;
}

.accordionDetailsExpand {
  max-height: 500px;
  transition: all 0.5s ease-in-out;
}
