@import '../../styles/mixin';
@import '../../styles/typography';
@import '../../styles/color';

.content {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.defaultContainer {
  display: flex;
  flex-direction: column;
  width: auto;

  > :last-child {
    text-align: end;
  }

  .defaultContent {
    display: flex;
    gap: 10px;
    align-items: baseline;
  }

  span {
    font-size: var(--text-lg);
    font-weight: var(--font-bold);
    position: relative;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s;
    }
  }

  @include xl {
    font-size: var(--text-lg);
    line-height: 30px;

    span {
      font-size: var(--text-xxl);
    }
  }

  @include sm {
    font-size: var(--text-md);
  }
}

.skillsContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  margin-top: 30px;
}

.educationContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0;
  margin-top: 63px;

  ul {
    border-radius: 10px;
    list-style-type: none;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
}

.educationList {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0;
}

.hr {
  width: 100%;
  border-bottom: 1px solid var(--blackColor500);
}

.subtitle {
  text-decoration: none;
  font-size: var(--text-md);
  font-weight: var(--font-medium);
  margin-bottom: 30px;
}

.subtitleKor {
  font-weight: var(--font-semibold);
}

.skills {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 70px);
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 30px;
  padding: 0;
}

.skill {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  font-size: var(--text-sm);
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  p {
    white-space: none;
  }
  svg {
    height: 45px;
    width: 45px;
  }
}

.careerContent {
  display: flex;
  flex-direction: column;
  margin-top: 63px;

  &:first-child div {
    display: flex;
    align-items: center;
    gap: 20px;

    a {
      align-self: center;
      margin: 0;
      &:hover {
        transform: scale(1.1);
        transition: transform 0.5s;
      }
    }
    svg {
      height: 40px;
      aspect-ratio: 1/1;
    }
  }
}

.careerAccordions {
  display: flex;
  flex-direction: column;
}

.careerAccordion {
  display: flex;
  flex-direction: column;
}

.careerSubtitle {
}
