.content {
  height: 100%;
}

.skillsContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  margin-top: 30px;
}

.skillContent {
  //   border: 2px solid var(--blackColor400);
  //   background-color: var(--whiteColor300);
}

.subtitle {
  //   text-align: center;
  font-size: var(--text-md);
  font-weight: var(--font-medium);
  margin-bottom: 30px;
}

.skills {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 70px);
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 30px;
  padding: 0;
}

.skill {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  //   background-color: var(--whiteColor300);

  border-radius: 10px;
  font-size: var(--text-sm);
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 13px 0;
  p {
    white-space: none;
  }
  svg {
    height: 45px;
    width: 45px;
  }
}
